<div class="container-fluid">
  <div class="row">
    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">


<h2>List of ATMs</h2>
<table id="atmTable" datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table-bordered table-responsive" >
  <thead>
      <tr class="header">
           <th>Id</th> 
           <th>Terminal Id</th> 
           <th>Terminal Name</th> 
           <th>IP</th> 
           <th>Gateway</th> 
           <th>Brand</th> 
           <th>Vendor</th> 
           <th>Region</th> 
           <th>Location</th> 
           <th>Branch Code</th> 
           <th>Regional Personnel</th> 
          
          </tr>
     </thead>
     <tbody>
     <tr *ngFor="let atmfleet of atmfleet">
         <!--<td> {{ atmfleet?.id }}</td>
         <td> {{ atmfleet?.terminalId }}</td>
         <td> {{ atmfleet?.terminalName }}</td>
         <td> {{ atmfleet?.ip }}</td>
         <td> {{ atmfleet?.gateway }}</td>
         <td> {{ atmfleet?.brand }}</td>
         <td> {{ atmfleet?.vendor }}</td>
         <td> {{ atmfleet?.region }}</td>
         <td> {{ atmfleet?.location }}</td>
         <td> {{ atmfleet?.branchCode }}</td>
         <td> {{ atmfleet?.regionalPersonnel }}</td>
         -->
         <td *ngIf="atmfleet.id === EditRowId"><input type="text" [(ngModel)]="atmfleet.id"></td>
         <td *ngIf="atmfleet.id !== EditRowId" (click)="Edit(atmfleet.id)"> {{ atmfleet?.id }}</td>
         <td *ngIf="atmfleet.terminalId === EditRowId"><input type="text" [(ngModel)]="atmfleet.terminalId"></td>
         <td *ngIf="atmfleet.terminalId !== EditRowId" (click)="Edit(atmfleet.terminalId)"> {{ atmfleet?.terminalId }}</td>
         <td *ngIf="atmfleet.terminalName === EditRowId"><input type="text" [(ngModel)]="atmfleet.terminalName"></td>
         <td *ngIf="atmfleet.terminalName !== EditRowId" (click)="Edit(atmfleet.terminalName)"> {{ atmfleet?.terminalName }}</td>
         <td *ngIf="atmfleet.ip === EditRowId"><input type="text" [(ngModel)]="atmfleet.ip"></td>
         <td *ngIf="atmfleet.ip !== EditRowId" (click)="Edit(atmfleet.ip)"> {{ atmfleet?.ip }}</td>
         <td *ngIf="atmfleet.gateway === EditRowId"><input type="text" [(ngModel)]="atmfleet.gateway"></td>
         <td *ngIf="atmfleet.gateway !== EditRowId" (click)="Edit(atmfleet.gateway)"> {{ atmfleet?.gateway }}</td>
         <td *ngIf="atmfleet.brand === EditRowId"><input type="text" [(ngModel)]="atmfleet.brand"></td>
         <td *ngIf="atmfleet.brand !== EditRowId" (click)="Edit(atmfleet.brand)"> {{ atmfleet?.brand }}</td>
         <td *ngIf="atmfleet.vendor === EditRowId"><input type="text" [(ngModel)]="atmfleet.vendor"></td>
         <td *ngIf="atmfleet.vendor !== EditRowId" (click)="Edit(atmfleet.vendor)"> {{ atmfleet?.vendor }}</td>
         <td *ngIf="atmfleet.location === EditRowId"><input type="text" [(ngModel)]="atmfleet.location"></td>
         <td *ngIf="atmfleet.location !== EditRowId" (click)="Edit(atmfleet.location)"> {{ atmfleet?.location }}</td>
         <td *ngIf="atmfleet.branchCode === EditRowId"><input type="text" [(ngModel)]="atmfleet.branchCode"></td>
         <td *ngIf="atmfleet.branchCode !== EditRowId" (click)="Edit(atmfleet.branchCode)"> {{ atmfleet?.branchCode }}</td>
         <td *ngIf="atmfleet.regionalPersonnel === EditRowId"><input type="text" [(ngModel)]="atmfleet.regionalPersonnel"></td>
         <td *ngIf="atmfleet.regionalPersonnel !== EditRowId" (click)="Edit(atmfleet.regionalPersonnel)"> {{ atmfleet?.regionalPersonnel }}</td>
        

     </tr>
    </tbody>
  <div class="footer">
      <div class="container">
          <p>Copyright&copy;2019</p>
      </div>
  </div>
</table>
</main>
</div>
</div>