<div *ngIf="loggedIn()" class="container">
<nav  class="navbar navbar-expand-md navbar-dark fixed-top bg-primary flex-md-nowrap p-0">
    <div class="logo">
       <img src="assets/images/logo.png" alt="logo" width="36" height="36" />
     </div>
   <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">Sterling Bank</a>
 
      <ul class="navbar-nav mr-auto">
         
         </ul>

         <div  class="dropdown mr-3" dropdown>
            <a class="dropdown-toggle text-light" dropdownToggle>
              Welcome {{authService.decodedToken?.unique_name | titlecase}}
            </a>
            <div class="dropdown-menu mt-3 mr-3" *dropdownMenu>
              <a class="dropdown-item" href="#"><i class="fa fa-user"></i>Edit Profile</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" (click)="logout()"><i class="fa fa-sign-out"></i>Logout</a>
            </div>
          </div>
          
 </nav>
 
 <div class="container-fluid">
   <div class="row">
     <nav class="col-md-2 d-none d-md-block bg-light sidebar">
       <div class="sidebar-sticky">
         <ul class="nav flex-column">
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['/home']"><i class="fa fa-fw fa fa-home navicon "></i>
                    Dashboard
                </a>
              </li>
              <li class="nav-item" routerLinkActive="active" >
                <a class="nav-link" [routerLink]="['/atm-fleet']" ><i class="fa fa-fw fa fa-database navicon "></i>
                  ATM Fleet
                </a>
              </li>
           <li class="nav-item">
              <a class="nav-link" [routerLink]="['/fault-log']" ><i class="fa fa-fw  fa fa-cogs"></i>
                Fault Logs
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link " href="#"><i class="fa fa-fw  fa fa-money"></i>
                Payments
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#"><i class="fa fa-fw  fa fa-industry"></i>
                Vendors
              </a>
            </li>
          <!-- <li class="nav-item">
              <a class="nav-link" href="#"><i class="fa fa-fw  fa fa-user"></i>
                Users
              </a>
            </li>--> 
            <li class="nav-item">
                <a class="nav-link" href="#"><i class="fa fa-fw  fa fa-tasks"></i>
                  Cassettes
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#"><i class="fa fa-fw  fa fa-tasks"></i>
                  Register New User
                </a>
              </li>
          </ul>
         <h6
           class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted"
         >
           <span>Saved reports</span>
           <a class="d-flex align-items-center text-muted" href="#">
            
           </a><i class = "fa fa-fw fa fa-plus-circle"></i>
         </h6>
         <ul class="nav flex-column mb-2">
            <li class="nav-item">
              <a class="nav-link" href="#"><i class="fa fa-fw fa fa-calendar"></i>
                Current month
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#"><i class="fa fa-fw fa fa-file"></i>
                Last quarter
              </a>
            </li>
            <li class="nav-item" routerLinkActive="router-link-active">
              <a class="nav-link" [routerLink]="['/cards']" ><i class="fa fa-fw fa fa-clipboard"></i>
                Cards
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#"><i class="fa fa-fw fa fa-bar-chart"></i>
                Charts
              </a>
            </li>
          </ul>
       </div>
     </nav>
 
      <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
        <div
          class="chartjs-size-monitor"
          style="position: absolute; left: 0px; top: 0px; right: 0px; bottom: 0px; overflow: hidden; pointer-events: none; visibility: hidden; z-index: -1;"
        >
          <div
            class="chartjs-size-monitor-expand"
            style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;"
          >
            <div
              style="position:absolute;width:1000000px;height:1000000px;left:0;top:0"
            ></div>
          </div>
          <div
            class="chartjs-size-monitor-shrink"
            style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;"
          >
            <div
              style="position:absolute;width:200%;height:200%;left:0; top:0"
            ></div>
          </div>
        </div>
  
       </main>
     
     <!--P Former Place for body-->
     
     
   </div>
   
 </div>

</div>