
  <div class="row">
    <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
      <div class="card">
        <div class="card-body">
          <div class="logo">
            <img
              src="../assets/images/disbursed.png"
              alt="logo"
              width="46"
              height="46"
            />
          </div>
          <h3>TOTAL LOAN DISBURSED (DAILY)</h3>
        <!--  <app-totaldailyloansum></app-totaldailyloansum> -->
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
      <div class="card">
        <div class="card-body">
          <div class="logo">
            <img
              src="../assets/images/disbursed.png"
              alt="logo"
              width="46"
              height="46"
            />
          </div>
          <h3>TOTAL LOAN DISBURSED (MONTHLY)</h3>
          <!-- <app-totalmonthlyloansum></app-totalmonthlyloansum> -->
          <p data-sum>{{ monthlyLoanSum | currency: "NGN":"symbol" }}</p>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
      <div class="card">
        <div class="card-body">
          <div class="logo">
            <img
              src="../assets/images/Graph.png"
              alt="logo"
              width="46"
              height="46"
            />
          </div>
          <h3>TOTAL LOAN DISBURSED (YEARLY)</h3>
          <!-- <app-totalyearlyloansum></app-totalyearlyloansum> -->
          <p data-sum>{{ annualLoanSum | currency: "NGN":"symbol" }}</p>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
      <div class="card">
        <div class="card-body">
          <div class="logo">
            <img
              src="/assets/images/naira.png"
              alt="logo"
              width="46"
              height="46"
            />
          </div>
          <h3>TOTAL LOAN DISBURSED (FROM INCEPTION)</h3>
          <!-- <app-inception-loan-sum></app-inception-loan-sum> -->
          <p data-sum>{{ annualLoanSum | currency: "NGN":"symbol" }}</p>
        </div>
      </div>
    </div>
  </div>

  <!-- <div class="search-icons">
    <div class="" style="float:left">
      <form class="form-inline">
          <div class="form-group">
              <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Filter.."
              title="Type in a name">
          </div>
          &nbsp;
          <button class="btn btn-info btn-sm"><i class="fa fa-search"></i> Search</button>
      </form>
    </div>
    <div class="" style="float: right">
        <form class="form-inline">
            &nbsp;
            <div class="form-group">
                <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Start Date"
                title="Type in a start date">
            </div>
            &nbsp;
            <div class="form-group">
                <input type="text" id="myInput" onkeyup="myFunction()" placeholder="End Date"
                title="Type in a end date">
            </div>
            &nbsp;
            <button class="btn btn-info btn-sm"><i class="fa fa-search"></i> Search</button>
        </form>
    </div>

</div> -->
<!-- <div class="row">
  <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
      <div class="card">
          <div class="card-body">
              <div class="logo"><img src="assets/images/disbursed.png" alt="logo" width="46" height="46"></div>
              <h3>TOTAL LOAN DISBURSED</h3>
              <h2>34,180</h2>
          </div>
      </div>
  </div>
  <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
      <div class="card">
          <div class="card-body">
              <div class="logo"><img src="assets/images/disbursed.png" alt="logo" width="46" height="46"></div>
              <h3>TOTAL LOAN DISBURSED</h3>
              <h2>34,180</h2>
          </div>
      </div>
  </div>
  <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
      <div class="card">
          <div class="card-body">
              <div class="logo"><img src="assets/images/Graph.png" alt="logo" width="46" height="46"></div>
              <h3>TOTAL LOAN DISBURSED</h3>
              <h2>34,180</h2>
          </div>
      </div>
  </div>
  <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
      <div class="card">
          <div class="card-body">
              <div class="logo"><img src="assets/images/naira.png" alt="logo" width="46" height="46"></div>
              <h3>TOTAL LOAN DISBURSED</h3>
              <h2>34,180</h2>
          </div>
      </div>
  </div>
</div> -->
