
<div class="container-fluid">
    <div class="row">
      <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
  <!--<p>
  {{atmFleet?.terminalName}}
  </p> -->
  <div class="col-sm-8">
    <div class="tab-panel">
      <tabset class="atmfleet-tabset">
        <tab heading="VIEW {{atmFleet?.terminalName}}">
          <h4>Terminal ID</h4>
          <p>{{atmFleet?.terminalId}}</p>
          <h4>Terminal Name</h4>
          <p> {{atmFleet?.terminalName}}</p>
          <h4> IP </h4>
          <p>{{ atmFleet?.ip }}</p>
          <h4> Gateway </h4>
          <p> {{ atmFleet?.gateway }}</p>
          <h4>Brand </h4> 
          <p> {{ atmFleet?.brand }} </p>
          <h4> Vendor </h4>
          <p> {{ atmFleet?.vendor }}</p>
          <h4>Region</h4>
          <p> {{ atmFleet?.region }}</p>
          <h4> Location </h4>
          <p> {{ atmFleet?.location }}</p>
          <h4> Regional Personnel</h4>
          <p> {{ atmFleet?.regionalPersonnel }}</p>

        </tab>
        <tab heading="EDIT {{atmFleet?.terminalName}}">
            <h4>Terminal ID</h4>
            <p>{{atmFleet?.terminalId}}</p>
            <h4>Terminal Name</h4>
            <p> {{atmFleet?.terminalName}}</p>
            <h4> IP </h4>
            <p>{{atmFleet?.ip}}</p>
            <h4> Gateway </h4>
            <p> {{ atmFleet?.gateway }}</p>
            <h4>Brand </h4> 
            <p> {{ atmFleet?.brand }} </p>
            <h4> Vendor </h4>
            <p> {{ atmFleet?.vendor }}</p>
            <h4>Region</h4>
            <p> {{ atmFleet?.region }}</p>
            <h4> Location </h4>
            <p> {{ atmFleet?.location }}</p>
            <h4> Regional Personnel</h4>
            <p> {{ atmFleet?.regionalPersonnel }}</p>
          </tab>

          

      </tabset>
    </div>
  </div>
</main>
</div>
</div>